*::before,
*::after,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}
:root{
    --black: #000000;
    --white: #ffffff;
    --dark-blue: rgb(9, 14, 109);
}

.form-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding: 20px 60px;
    align-items: center;
    justify-content: space-between;
}
.left-section{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.left-section h2{
    width: 300px;
    user-select: none;
    text-align: center;
    color: var(--dark-blue);
}
.image-section{
    width: fit-content;   
}
.right-section{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 1rem 4rem;
    gap: 1rem;
    border-radius: 20px;
    box-shadow: 2px 2px 10px grey;
}
.welcome{
    color: rgba(99, 35, 168, 0.685);
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
input{
    height: 32px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid black;
    outline: none;
    padding-left: 50px;
}

label{
    cursor: pointer;
}
.remember-text{
    font-size: 0.7rem;
}
.forgot{
    font-size: 0.7rem;
    font-weight: bold;
    cursor: pointer;
}
.checkbox{
    width: 15px;
}

.login-btn{
    border: none;
    cursor: pointer;
    height: 30px;
    width: 300px;
    border-radius: 20px;
    background-color: rgb(90, 9, 172);
    text-align: center;
    font-weight: bolder;
    color: var(--white);
}
.fname{
    
}

.email{
    background-image: url('email.jpg');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 0.5rem 0.2rem;
}
.password{
    background-image: url('password.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 0.2rem;
}

.or{
    margin-top: -2rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: gray;
    user-select: none;
}
.icons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.line{
    width: 300px;
    height: 1px;
    background-color: grey;
}
img{
    cursor: pointer;
}

.account{
    font-size: 13px;
    text-align: center;
    
}

.btn{
    margin-top: -4rem;
    gap: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-text{
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.second-section{
    font-size: 0.9rem;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
input{
    user-select: none;
}